main {
    background-color: #282c34;
    min-height: 100vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.header-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    text-align: center;
    padding: 0;
    color: #fff;
}